* {
    margin: 0;
}


/* Ajout des polices */
@font-face {
    font-family: 'exo';
    src: url('fonts/Exo-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo-italic';
    src: url('fonts/Exo-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html, body {
    background-color: #2E3436;
	height: 100%;	
}

header {
    border-bottom: 2px solid white;
}

h1 {
    color: #81E234;
    font-family: "exo", "Sans-Serif";
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}

h1 a, h1 a:visited {
    color: #81E234;
    text-decoration: none;
}

h1 a:hover {
    color: #2E3436;
    background-color: #81E234;
}

section {
    display: inline-block;
    width: 100%
}

section h2 {
    color: #729FCF;
    font-family: "exo-italic", "Sans-Serif";
    font-weight: normal;
    font-variant: small-caps;
    text-align: left;
    font-size: 2em;
    font-style: italic;
}

article img {
    margin: 10px;
    opacity: 0.3;
    border-radius: 15px;
    float: left;
}

article img:hover {
    margin: 10px;
    opacity: 1;
}

footer {
    border-top: 2px solid white;
    clear: both
}

footer p {
    text-align: center;
    color: #81E234;
    font-family: "exo", "Sans-Serif";
}

footer a, footer a:visited {
    color: #66D9EF;
    text-decoration: none;
}

footer a:hover {
    color: #C92667;
    text-decoration: underline;
}